/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Light red (CTA text): hsl(356, 100%, 66%)
- Very light red (CTA hover background): hsl(355, 100%, 74%)
- Very dark blue (headings): hsl(208, 49%, 24%)

### Neutral

- White (text): hsl(0, 0%, 100%)
- Grayish blue (footer text): hsl(240, 2%, 79%)
- Very dark grayish blue (body copy): hsl(207, 13%, 34%)
- Very dark black blue (footer background): hsl(240, 10%, 16%)

### Gradient

Background gradient - Intro/CTA mobile nav:

- Very light red: hsl(13, 100%, 72%)
- Light red: hsl(353, 100%, 62%)

Background gradient - body:

- Very dark gray blue: hsl(237, 17%, 21%)
- Very dark desaturated blue: hsl(237, 23%, 32%)

## Typography

### Body Copy

- Font size: 16px

### Fonts

- Family: [Overpass](https://fonts.google.com/specimen/Overpass?preview.text_type=custom)
- Weights: 300, 600

- Family: [Ubuntu](https://fonts.google.com/specimen/Ubuntu?preview.text_type=custom)
- Weights: 400, 500, 700 */

/* font-family: 'Overpass', sans-serif;
font-family: 'Ubuntu', sans-serif; */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;;
}

:root {
    /* intro - nav */
    --gradientOrangeRed: hsl(13, 100%, 72%);
    --gradientLightRed: hsl(353, 100%, 62%);

    /* gradient body  */
    --veryDarkGrayBlue:  hsl(237, 17%, 21%);
    --veryDarkDesatBlue: hsl(237, 23%, 32%);
    /* CTA Text */
    --lightRed:  hsl(356, 100%, 66%); 
    /* CTA hover bg */
    --veryLightRed: hsl(355, 100%, 74%); 
    /* headings */
    --veryDarkBlue:  hsl(208, 49%, 24%);

    --whiteText: hsl(0, 0%, 100%); 
    --grayishFooterText: hsl(240, 2%, 79%);
    --veryDarkGrayishBG: hsl(207, 13%, 34%);
    --darkBlackFooter: hsl(240, 10%, 16%);
}

header {
    background: url('./images/bg-pattern-intro-mobile.svg') no-repeat -350px -180px, linear-gradient(var(--gradientOrangeRed), var(--gradientLightRed));
    min-height: 80vh;
    border-bottom-left-radius: 100px;
    padding: 3rem 1rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    width: 50%;

}

.headingDiv {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 90%;
    text-align: center;
    color: var(--whiteText);
}

#heading-title {
    font-weight: 600;
    margin: 0px 0px 1.2rem;
}

.buttonsDiv {
    margin: 2.2rem 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.startForFreeBtn, .learnMoreBtn {
    width: 125px;
    height: 45px;
    border-radius: 25px;
    border: none;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}
.sub-nav-items {
    display: none;
}

.hidden {
    display: none;
}

.features-section {
    padding: 3rem 1rem;
    text-align: center;
    min-height: 100vh;
}

.features-section h2, .thirdSection h2 {
    color: var(--veryDarkBlue);
    font-weight: 600;
    margin: 1rem 0px;
}

#editorMobileImg {
    width: 355px;
}

.features {
    padding: 2rem;
}
.feature-details {
    line-height: 25px;
    color: var(--veryDarkGrayishBG);
    margin-bottom: 2.5rem;
}

.secondSection {
    margin: 8rem 0px;
}

.darkBG {
    background: url('./images/bg-pattern-circles.svg') no-repeat -105px -250px, linear-gradient(var(--veryDarkGrayBlue), var(--veryDarkDesatBlue));
    background-size: cover;
    height: 600px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--whiteText);
    text-align: center;
    position: relative;
}

.phoneImage {
    width: 365px;
    position: absolute;
    top: -175px;
}
#sectionHeading {
    font-size: 36px;
    font-weight: 300; 
    margin: 5rem 0px 2rem;
}
.secondSection-details {
    padding: 0rem 2rem;
    line-height: 1.7rem;
    color: var(--grayishFooterText);
}

.thirdSection {
    text-align: center;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--darkBlackFooter);
    color: var(--grayishFooterText);
    border-top-right-radius: 100px;
    padding: 2rem;
    text-align: center;
    height: 700px;
}
.nav-items-footer {
    color:var(--whiteText);
}

.footer-categories {
    height: 150px;
    display: flex;  
    flex-direction: column;
    justify-content: space-around;
}

.footer-items {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
a {
    color: var(--grayishFooterText);
    text-decoration: none;
}
  

@media only screen and (min-width: 768px)
 {
    .thirdSection {
        display: flex;
        justify-content: center;
    }
    /* Blogr image */
    footer div:nth-child(1)  {
        align-self: flex-start;
        margin-top: 2rem;
    }
    footer {
        height: 350px;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    
    }
    .footer-categories { height: 250px; }
    .footer-items {
        justify-content: space-evenly;
        height: 70%;
    }

    
 }
@media only screen and (min-width: 992px) {

    .mainHeading {
        font-size: 2.4rem;
        margin-top: 2rem;
    
    }
    
    .features-content {
        display: flex;
        margin-top: 10rem;
        margin-left: 6rem; 
        position: relative;

    }
    .features {
        display: flex;
        flex-direction: column;
        text-align: left;
        width: 45%;
    }
    body {
        overflow-x: hidden;
    }
    .imageContainer {
        order: 1;
        position: absolute;
        right: -255px;
        top: -170px;
    }
    #editorMobileImg {
        width: 900px;
    }

    .darkBG {
        height: 400px;
        margin: 17rem 0px 0px;
    }
}